
/****************************
      Navbar Estilo Negro
****************************/
.navbar-main-cont {
      width: 100%;
      background-color: var(--dark-background-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 2rem;
      box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.navbar-left {
      display: flex;
      align-items: center;
}
.navbar-brand {
      color: var(--background-color);
      font-weight: bold;
      font-size: 1.2rem;
      margin-right: 2rem;
      text-decoration: none;
}

.navbar-links {
      display: flex;
      gap: 1.5rem;
}
@media (max-width: 480px) {
      .navbar-links {
            display: none;
      }
}
.navbar-link {
      color: var(--background-color);
      text-decoration: none;
      font-weight: 600;
      transition: color 0.2s ease;
}
.navbar-link:hover {
      color: var(--accent-color);
}

.navbar-collapse-icon {
      display: none;
      color: var(--background-color)
}

@media (max-width: 480px) {
      .navbar-collapse-icon {
            display: flex;
      }
}

.navbar-hidden-list {
      width: 100%;
      background-color: var(--dark-background-color);
      padding: 20px;
      transition: opacity 0.5s ease-in-out;
}

.list-open {
      display: flex;
      flex-direction: column;
      gap: 10px;
      opacity: 1; 
}

.list-hidden {
      display: none;
      opacity: 0; 
}
